# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.CSU_ASP.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\CSU_ASP\CSU_ASP\.idea\.idea.CSU_ASP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
